
.my-custom-border {
    border: 5px rgb(245, 238, 238) solid;
}

.my-content-style {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.capitalize-style {
    text-transform: capitalize;
}

.author-style {
    color:darkblue;
    font-weight: 500;
}